{% extends 'accounts/main.html' %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <!-- Note: don't use the links in the book, use these links: https://getbootstrap.com/ -->
  <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0\
/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E2\
63XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>{% block title %}Newspaper App{% endblock title %}</title>
  </head>
{% block content %}
  {% for student in students %}
  <div class="card">
    <div class="card-header">
        <span class="font-weight-bold">{{ student.first_name }}</span>
        <span class="text-muted">Subjects: {{ student.no_of_subject }} | 1999</span>
    </div>
    <div class="card-body">
      <p>{{ student.grade }}</p>
    </div>
  </div>
  {% endfor %}
{% endblock content %}